body {background-color:#42f4e8 ;}
a {color:#27f920 ;} 
p  {color: #ef20f9 ;}  
li {color:#f2f920 ;} 
h1 {color: #f98220 ;}
h2 {color:#f92036 ;} 
a:hover{color:#42cef4 ;}  
button1{color:#f44242 ;} 
button1{background-color:#8cf794 ;}  
button2{color:#42f4bc ;} 
button2{background-color:#f442ce ;}
